<app-header titulo="Grid Page"></app-header>

<ion-content fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          
          </ion-card-header>
         <ion-card-content>
          <ion-img src="https://images.pexels.com/photos/230544/pexels-photo-230544.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></ion-img>
         </ion-card-content>
            
        
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          
          </ion-card-header>
         <ion-card-content>
          <ion-img src="https://images.pexels.com/photos/230544/pexels-photo-230544.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></ion-img>
         </ion-card-content>
            
        
        </ion-card>
      </ion-col>
     
    </ion-row>
  </ion-grid>

</ion-content>
