<app-header titulo="Botones Page"></app-header>

<ion-content>
 
    <ion-button size="large" >
     
      Large
    </ion-button>
    <ion-button size="default">
      
      Default
    </ion-button>
    <ion-button size="small" >
      
      Small
    </ion-button>
    <ion-button  expand="full" fill="clear" shape="round">
      fill clear expand full
    </ion-button>
    <ion-button  expand="block"  shape="round">
      expand block shape round
    </ion-button>
    
    <ion-button class="mt-20"expand="full" fill="outline" routerLink="/alert" color="success">
      Navegar a Alert
    </ion-button>
    <ion-row>
      <ion-col size="6">
                  <ion-button routerLink="/"   shape="round" expand="full">
                   Home
                  </ion-button>
      </ion-col>
      <ion-col size="6">
                  <ion-button routerLink="/action-sheet" shape="round" expand="full">
                    Action Sheet
                  </ion-button>
      </ion-col>
    </ion-row>
</ion-content>
