<app-header titulo="AvatarPage"></app-header>

<ion-content padding>

<ion-chip color="primary" class="ion-margin">
  <ion-avatar>
    <img src="https://scontent.fuio10-1.fna.fbcdn.net/v/t1.0-9/s960x960/95015081_2871009576308186_4463541498192855040_o.jpg?_nc_cat=101&_nc_sid=85a577&_nc_ohc=s2fufXxIzhsAX91dPfa&_nc_ht=scontent.fuio10-1.fna&_nc_tp=7&oh=2ea0e36d1b0bb634755aa091c3f888a7&oe=5EDB3D76" alt="">
  </ion-avatar>
  <ion-label class="ion-margin">Jeferson Narváez</ion-label>
</ion-chip>



  <ion-list>
    <ion-item>
      <ion-avatar>
        <img src="https://scontent.fuio10-1.fna.fbcdn.net/v/t1.0-9/s960x960/95015081_2871009576308186_4463541498192855040_o.jpg?_nc_cat=101&_nc_sid=85a577&_nc_ohc=s2fufXxIzhsAX91dPfa&_nc_ht=scontent.fuio10-1.fna&_nc_tp=7&oh=2ea0e36d1b0bb634755aa091c3f888a7&oe=5EDB3D76" alt="">
      </ion-avatar>
      <ion-label class="ion-margin">Jeferson Narváez</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
