<ion-header [translucent]="true">
  <ion-toolbar>


    <ion-buttons slot="start">
    <!-- Forma 1 de controloar el menu mas dificil -->
    
      <ion-button (click)="toggleMenu()" color="danger">
       <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>


     <!-- FORMA 2 de controlar el menu mas facil si necesidad de metodos-->
       <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
    
    </ion-buttons>
    <ion-title color="primary">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let c of componentes|async" [routerLink]="c.redirecTo" detail>
      <ion-label >{{c.name}}</ion-label>
      <ion-icon color="primary" slot="start" [name]="c.icon"></ion-icon>
    </ion-item>
    
    
  </ion-list>


 
</ion-content>
